.el-menu-demo{
  background-color: #faf8ec;
  font-size: 28px;
  width: 70vw;
}
.book_page{
  .el-input__inner{
    background-color: #faf8ec;
  }
  .el-pagination .btn-next, .el-pagination .btn-prev{
    background-color: #faf8ec;
  }
  .el-pager li{
    background-color: #faf8ec;
  }
}

